#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

# VINTF compliance
CONFIG_L2TP=y
CONFIG_PPP=y
CONFIG_PPPOL2TP=y
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_DEFLATE=y
CONFIG_PPP_MPPE=y
CONFIG_PPTP=y

# DMABUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# segfaults, nice
# CONFIG_GENDWARFKSYMS is not set

# Platform
CONFIG_ARCH_BCM=y
CONFIG_ARCH_BCM2835=y

# Audio
CONFIG_SND_SOC=y
CONFIG_SND_BCM2835_SOC_I2S=y
CONFIG_SND_BCM2835=y

# Bluetooth
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_BCM=y

# Clock
CONFIG_CLK_BCM2711_DVP=y
CONFIG_CLK_BCM2835=y
CONFIG_CLK_RASPBERRYPI=y

# cpufreq
CONFIG_CPUFREQ_DT=y
CONFIG_ARM_RASPBERRYPI_CPUFREQ=y

# DMA
CONFIG_ZONE_DMA=y
CONFIG_ZONE_DMA32=y
CONFIG_DMA_BCM2835=y

# Ethernet
CONFIG_BCMGENET=y
CONFIG_BROADCOM_PHY=y
CONFIG_USB_LAN78XX=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_SMSC95XX=y

# Firmware
CONFIG_RASPBERRYPI_FIRMWARE=y

# GPU
CONFIG_DRM=y
CONFIG_DRM_V3D=y
CONFIG_DRM_VC4=y
CONFIG_DRM_VC4_HDMI_CEC=y

# hwmon
CONFIG_HWMON=y
CONFIG_SENSORS_RASPBERRYPI_HWMON=y

# I2C
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_BCM2835=y
CONFIG_I2C_BRCMSTB=y

# IRQ
CONFIG_BRCMSTB_L2_IRQ=y

# MMC
CONFIG_MMC_BCM2835=y

# Mailbox
CONFIG_BCM2835_MBOX=y

# Media
CONFIG_VIDEO_BCM2835=y

# PCI
CONFIG_PCIE_BRCMSTB=y

# PWM
CONFIG_PWM_BCM2835=y

# Power
CONFIG_RASPBERRYPI_POWER=y

# SPI
CONFIG_SPI_BCM2835=y
CONFIG_SPI_BCM2835AUX=y

# Serial
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_SERIAL_8250_BCM2835AUX=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_TTY_PRINTK=y

# Thermal
CONFIG_BCM2711_THERMAL=y
CONFIG_BCM2835_THERMAL=y

# USB
CONFIG_USB_DWC2=y

# Watchdog
CONFIG_BCM2835_WDT=y
